.intro {
    background-color: white;
    display: flex;

    .left {
        flex: 0.5;
        overflow: hidden;
    
       
        .imageContainer {
            width: 700px;
            height: 700px;
            margin-left: 25px;
            background-color: #8f96b0;
            display: flex;
            align-items: center;
            justify-content: center;
            float: right;
           
            
            border-radius: 50%;
         
         
            
            img {
                height: 90%;
               
            }
        }
    }
    .right {
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 60px;
                margin: 10px 0;
            }

            h2 {
    
                font-size: 35px;
            }
            
            h3 {
                font-size: 30px;

                span {
                    font-size: inherit;
                    color: rgb(86, 41, 212); 
                }

                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
            
            a {
                position: absolute;
                bottom: 10px;
                left: 40%;

                .icon {
                   
                    width: 50px;
                    font-size: 50px;
                    }
            }

         
         
        }
    }
}